html, body {
  height: 100%;
}

body {
  margin: 0;
}

#content {
  height: 100%;
  background: linear-gradient(45deg, #A1FFFC 0%, #FEB522 100%);
}

.circle {
  border-radius: 50%;
}

.circle.has-transitions {
  transition: all 0.2s ease;
}

.circle.has-slow-transitions {
  transition: all 1s ease;
}
